/* line 23, main.scss */
.container-fluid {
  padding: 0px !important;
}

/* line 27, main.scss */
.minor {
  height: 175px;
}

/* line 31, main.scss */
.hoverBox {
  /* to overwrite bootstrap padding */
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-size: cover;
  background-position: center;
}
/* line 37, main.scss */
.hoverBox .textWrap {
  opacity: 0;
  padding-top: 92px;
  padding-bottom: 92px;
}
/* line 41, main.scss */
.hoverBox .textWrap .title {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
}
/* line 48, main.scss */
.hoverBox .textWrap .subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
/* line 55, main.scss */
.hoverBox .textWrapMinor {
  height: 166px;
  opacity: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 62, main.scss */
.hoverBox .textWrapMinor .title {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 760px) {
  /* line 73, main.scss */
  .textWrap:hover {
    opacity: 0.9;
    display: block;
    background-color: orange;
    transition: all .3s ease;
    cursor: pointer;
  }

  /* line 80, main.scss */
  .textWrapMinor:hover {
    opacity: 0.9;
    display: block;
    height: 100%;
    background-color: orange;
    transition: all .3s ease;
    cursor: pointer;
  }
}
